.amenity {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.375em
}

.amenities {
  display: flex;
}

.amenities > h2 {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif
}
