.booking-position {
  padding-top: 75px;
  margin-left: 45px;

  position: relative;
  width: 41.66667%;
  float: left;
  background: green;
}

.booking-form-container {
  position: fixed;
  z-index: 3;
  padding: 0 24px;

  background: wheat;
}

.booking-form-box {
  border: 1px solid #e4e4e4;
  /* background: #ffffff; */
  height: 430px;
  width: 326px;
}