.booking-position {
  padding-top: 75px;
  margin-left: 45px;

  position: relative;
  width: 41.66667%;
  float: left;
  /* background: green; */
}

.booking-form-container {
  top: 75px;
  position: sticky;
  /* z-index: 1; */
  padding: 0 24px;
  border: 1px solid #e4e4e4;
  /* background: wheat; */
}

.booking-price {
  margin-top: 16px;
}

.booking-price > span{
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 800;
}

.booking-form-box {
  /* background: #ffffff; */
  /* height: 430px; */
  width: 326px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  height: 300px;
  /* background: cyan; */
}

.booking-fields {
  width: 100%;
}

.booking-dates {
  margin-top: 16px;
  margin-bottom: 8px;
}

.booking-form-label {
  font-size: 12px;
  font-weight: 200;
  line-height: 1.33333em;
  color: rgb(72, 72, 72);
  padding-bottom: 4px;
}

.booking-guests > div {
  background: white;
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(235,235,235);
  border-radius: 2px;
  box-sizing: border-box;
}

.booking-guest-input {
  width: 100%;
  font-size: 17px;
  padding:
}

.booking-submit {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 22px;
  margin: 5px 0;
  border-radius: 5px;
  border: 2px;
  background-color: rgb(255, 90, 95);
  color: white;
  font-size: 16px;
  font-weight: 800px;
  text-align: center;
}

.booking-message {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33333em;
  color: rgb(72, 72, 72);
}

.DateRangePickerInput {
  width: 326px;
}