header {
  
}

.header-banner {
  height: 80px;
  display: flex;
  justify-content: space-between; 
}

.banner {
  height: 200px;
  background: rgba(94, 109, 109, 0.3);
  font-family: 'Noto Sans', sans-serif;
}

.banner-nav > div{
  display: flex;
  width: 200px;
  /* border: 1px solid black; */
}

.banner h1 {
  font-size: 30px;
  font-weight: 700;
}