.splash {
  background: image_url("background.jpg");
  background-size: cover;
  background-position-y: -30px;
}

.splash-box {
  font-family: 'Noto Sans', sans-serif;
  height: 100vh;
}

.fo {
  display: flex;
  justify-content: center;
  height: 222px;
  width: 80%;
  margin: 0 auto;
}

.next-trip {
  padding: 0px 24px 48px 24px;
}

.trip-search {
  padding: 24px 0px 0px 0px;
}

.trip-search > div {
  padding: 16px 0px 14px 0px;
  
}

.trip-title h1 {
  font-weight: 700;
  font-size: 50px;
  color: white;
  text-shadow: 1px 6px 84px rgba(0,0,0,0.8);
  line-height: 60px;

}

.trip-location {
  display: flex;
  background: white;
  color: #767676;
  font-size: 17px;
  padding: 0 16px;
  border-radius: 5px;
  height: 78px;  
  box-shadow: 0 10px 36px rgba(0,0,0,0.65)

}

.trip-location input {
  padding: 0 0 0 20px;
  width: 545px;
}

.trip-location i {
  padding: 25px 0px;
  font-size: 25px;
}

form {
  display: flex;
}

.trip-button {
  padding: 0 0 0 12px;
}

.trip-button button{
  display: inline-block;
  padding: 23px;
  background-color: rgb(255, 90, 95);
  border-radius: 5px;
  color: white;
  box-shadow: 0 10px 36px rgba(0,0,0,0.65)

}

.trip-button i {
  font-size: 30px;
}