.logo-button {
  width: 99px;
  height: 80px;
}

.logo-box {
  padding: 24px;
}

.logo {
  background: image_url("airbnb.png");
  background-size: cover;
  width: 34px;
  height: 34px;
}

.header-banner {
  height: 80px;
  display: flex;
  justify-content: space-between; 
}

.logo-n-name {
  display: flex;
}

#project-name {
  color: white;
  font-size: 36px; 
  margin: auto 0;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.banner {
  height: 200px;
  background: linear-gradient(rgba(75, 78, 78, 0.5), rgba(255, 255, 255, 0));
}

.banner-nav {
  display: flex;
}

.banner h1 {
  font-size: 30px;
  font-weight: 700;
}

.user-nav {
  width: 150px;
  padding-right: 30px;
  height: 100%;
  font-size: 14px;
}

.user-nav > button {
  color: white;
  margin: 0px 15px;
  height: 100%;
}

.nav-button:hover {
  border-bottom: 2px solid white;
}

.profile-box:hover {
  border-bottom: 2px solid white;
}

.profile-box:active{
  border: none;
}

.profile-box:focus{
  border: none;
}

.profile-box {
  padding: 20px 30px;
  cursor: pointer;

}

.profile-pic {
  background-size: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}