/* .review-form-box {
  background: cyan;
} */

.spot-review-form {
  display: flex;
  flex-direction: column;
}

.spot-review-form > div {
  margin-bottom: 5px;
}

.review-form-rating-box {
  display: flex;
}

.review-form-rating-box > div {
  margin-right: 8px;
}

.star-container {
  padding-right: 0px;
}

.review-form-body-box > textarea {
  width: 100%;
  color: teal;
  border: 1px solid rgb(215, 215, 215);
}

.spot-review-form > .session-submit {
  width: 120px;
}

.review-author-header {
  display: flex;
}

.review-author-pic {
  width: 50px;
  height: 50px;
}

.review-author {
  font-size: 16px;
  font-weight: 600;
line-height: 1.375em
}
.review-body {
  margin-top: 16px;
  font-size: 16px ;
  font-weight: 100 ;
  line-height: 1.375em ;
}

.spot-reviews-count {
  display: flex;
}

.spot-reviews-count > * {
  margin-right: 10px;
}

.fa-star-half {
  margin-right: 13px;
  color: "teal";
}
/* 
.fa-star {
  color: "teal";
} */