body {
  font-family: 'Noto Sans', sans-serif;  
}

.search-header{
  font-family: 'Noto Sans', sans-serif;
  background: cyan;
  border-bottom: 1px solid black;
  height: 81px;
  position: sticky;
  width: 100%;
}
/* rgb(228, 228, 228) */

.spots-index {
  width: 80%;
  margin: 0 auto;
}

.spot-item {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid black;
}

.sub-banner {
  width: 100%;
  color: #787878;
  font-size: 14px;
}

.filter-banner {
  height:48px;
  background: wheat;
  border-bottom: 1px solid black;
  padding-left: 16px; 
  display: flex;
}

.filter-type-box {
  margin: 0 4px 0 8px;
  /* display: block; */
  align-self: center;
  background: white;
}

.filter-type {
  padding: 6px 12px;
  border: 1px solid rgb(220, 224, 224);
  border-radius: 4px;
  background: white;
}