.content-box {
  display: flex;
  background: orange;
  padding-top: 130px;
  width: 100%;
}

.spots-index {
  display: flex;
  flex-direction: column;
  background: cyan;
  width: 66%;
  padding: 0 24px 48px 24px;
  height: 100vh;
}

.spot-item {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 8px 8px 12px 8px;
}

.map-box {
  position: relative;
  overflow: hidden;
  /* z-index: -1; */

}

.map-search {
  position: fixed;
  width: 100%;
  height: calc(100vh - 128px);
}