.content-box {
  display: flex;
  // padding-top: 130px;
  width: 100%;
}

.spots-index {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  padding: 24px 5px 48px 5px;
  min-height: 400px;
  flex-wrap: wrap;
}

.spot-item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  // border: 1px solid black;
}

.spot-image {
  border-radius: 3px;
}

.spot-image > img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.spot-caption {
  display: inline;
  padding-top: 66.6667%
}

.spot-title {
  overflow-wrap: break-word;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 16px !important;
  font-weight: 800 !important;
  line-height: 1.375em !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
}

.spot-price {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.28571em !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
}

.spot-reviews {
  overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 1.33333em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;
}

.map-box {
  display: none;
  position: relative;
  overflow: hidden;
}

.map-search {
  display: none;
  position: fixed;
  width: 100%;
  height: calc(100vh - 128px);
}

@media (min-width: 768px){
  .spot-item-container {
    width: 46%;
    padding: 8px 8px 12px 8px;
  }

  .spots-index {
    width: 66.6667%;
  }

  .map-box {
    display: block;
    position: relative;
    overflow: hidden;
  }

  .map-search {
    display: block;
    position: fixed;
  }

  #map-container {
    width: 33.333%;
    height: calc(100vh - 130px);
  }
}

.map-price-container {
  overflow: visible !important;
}

.map-price-marker {
  position: absolute;
  font-family: 'Helvetica';
  left: -37px;
  top: -25px;
  width: 70px;
  height: 20px;
  border-radius: 3px;
  line-height: 22px;
  background-color: white;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.07);
  text-align: center;
  color: black;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid gray;
  z-index: 1;
}

.map-price-marker:before,
.map-price-marker:after {
  position: absolute;
  content: "";
  border-style: solid;
}

.map-price-marker:after {
  left: 31px;
  top: 19px;
  border-width: 5px;
  border-color: white transparent transparent;
}

.map-price-marker:before {
  left: 30px;
  top: 20px;
  border-width: 6px;
  border-color: gray transparent transparent;
}

.map-price-marker.visited:hover {
  background-color: #7b8d93;
  color: #fff;
  border-color: #5b6a6f;
}

.map-price-marker.visited:hover:after {
  border-color: #7b8d93 transparent transparent;
}

.map-price-marker.visited:hover:before {
  border-color: #5b6a6f transparent transparent;
}

.map-price-marker:hover {
  background-color: #f2f2f2;
  color: black;
  border-color: gray;
  z-index: 3;
}

.map-price-marker:hover:after {
  border-color: #f2f2f2 transparent transparent;
}

.map-price-marker:hover:before {
  border-color: gray transparent transparent;
}