.spot-show-container {
  position: relative;
  width: 100%;
  padding-top: 130px;
  height: 100px;
  border: 1px solid black;
}

#spot-show-map {
  height: 300px;
  width: 500px;
  padding-left: 30px;
}