.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  background: white;
  width: 504px;
  /* height: 530px; */
  height: auto;
  margin: 0px auto;
  font-family: 'Noto Sans', sans-serif;
}

.modal-form {
  padding: 32px;
  display: flex;
  flex-direction: column;
  color: #727272
}

.modal-form > h1 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}

.session-form {
  border-top: 1px solid rgb(235, 235, 235);
  background: white;
  display: flex;
  flex-direction: column;
}

.session-input {
  display: flex;
  justify-content: space-between;
}

.form-input {
  box-sizing: border-box;
  background: transparent;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 4px;
  padding: 11px;
  margin: 5px 0px;
  width: 100%;
  font-size: 14px;
}

.form-input:first-child {
  margin-top: 15px;
}

.form-input:focus {
  border: 1px solid rgb(0, 132, 137);
}

.session-submit button {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 22px;
  margin: 5px 0;
  border-radius: 5px;
  border: 2px;
  background-color: rgb(255, 90, 95);
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 800px;
  text-align: center;
}

.session-submit button:last-child {
  margin-bottom: 15px;
}

.session-alt {
  border-top: 1px solid rgb(235, 235, 235);
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
}

.session-alt-form {
  color: #008489;
}

.session-alt-form:hover {
  color: #008489;
  text-decoration: underline;
}
